[user]
	name = Jerry Wang
	email = jerry.wang@ca.ey.com
	signingkey = 41EAA083

[github]
	user = jerry-ey

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  filemode = false
  trustctime = false
    autocrlf = input
	ignorecase = false
# [commit]
# 	gpgsign = true
# [gpg]
# 	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
	default = current
	autoSetupRemote = true
